@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  @apply w-3;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-transparent bg-opacity-100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply rounded-full bg-slate-700 hover:bg-purple-950  transition-all ease-in-out duration-300;
}

@keyframes animated-cursor-1 {
  0% {
    transform: translate(250px, 0);
  }
  50% {
    transform: translate(-250px, 0);
    opacity: 20%;
  }
  100% {
    transform: translate(250px, 0);
  }
}
@keyframes animated-cursor-2 {
  0% {
    transform: translate(-250px, 0);
  }
  50% {
    transform: translate(250px, 0);
    opacity: 20%;
  }
  100% {
    transform: translate(-250px, 0);
  }
}
@keyframes animated-cursor-3 {
  0% {
    transform: translate(0, 250px);
  }
  50% {
    transform: translate(0, -250px);
    opacity: 20%;
  }
  100% {
    transform: translate(0, 250px);
  }
}
@keyframes animated-cursor-4 {
  0% {
    transform: translate(0, -250px);
  }
  50% {
    transform: translate(0, 250px);
    opacity: 20%;
  }
  100% {
    transform: translate(0, -250px);
  }
}

.cursor {
  :nth-child(1) {
    animation: animated-cursor-1 15s ease infinite;
  }
  :nth-child(2) {
    animation: animated-cursor-2 10s ease infinite;
  }
  :nth-child(3) {
    animation: animated-cursor-3 10s ease infinite;
  }
  :nth-child(4) {
    animation: animated-cursor-4 15s ease infinite;
  }
}
.animated-cursor {
  @apply absolute w-[600px] h-[600px] opacity-10 rounded-full blur-3xl transition-all ease-out overflow-hidden;
}

.animated-item {
  display: block;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  animation: BottomTotop 12s linear infinite 0s;
}

.animated-item:nth-child(2) {
  animation-delay: 4s;
}

.animated-item:nth-child(3) {
  animation-delay: 8s;
}

@keyframes BottomTotop {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 0;
    transform: translateY(5px);
  }

  10% {
    opacity: 1;
    transform: translateY(0px);
  }

  25% {
    opacity: 1;
    transform: translateY(0px);
  }

  30% {
    opacity: 0;
    transform: translateY(5px);
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@layer components {
  .line {
    @apply h-[1px] bg-white w-4/5 my-2;
  }
  .btn-primary {
    @apply py-3 border-white rounded-full border-2 flex items-center justify-center text-lg font-medium hover:backdrop-blur hover:bg-black hover:bg-opacity-50 hover:scale-110 transition-all ease-in-out duration-500;
  }
  .btn-secondary {
    @apply bg-gray-200 hover:bg-white text-purple-800 font-bold py-2 px-4 rounded-lg hover:scale-105 duration-300 ease-in-out text-center;
  }
  .dark-blur-card {
    @apply bg-black bg-opacity-40 backdrop-blur lg:p-5 rounded-3xl;
  }
  .separator {
    @apply w-full rounded-full h-1 bg-gray-400 bg-opacity-40 my-5 self-center;
  }
}
